---
const { title } = Astro.props;
---

<div
  class="w-full h-[90vh] flex flex-col md:flex-row items-center justify-center px-6 md:px-0"
>
  <div class="flex flex-col items-start space-y-4">
    <h1 class="text-6xl tracking-tighter font-bold text-slate-800">
      {title}
      <a href="https://inly.se" target="_blank" class="text-xl tracking-normal"
        >@ Inly</a
      >
    </h1>
    <h2 class="font-light tracking-tight text-2xl text-slate-700">
      Software Engineer specializing in performant and beautiful web
      applications
    </h2>
  </div>
</div>
