---
const { title, link } = Astro.props;
---

<a
  href={link}
  target="_blank"
  class={`rounded-lg border-[1px] p-3 bg-white/20 hover:bg-white/40 hover:scale-105 transition-all cursor-pointer umami--click--${title
    .split(' ')
    .join('')}-button`}
>
  <span>
    <slot />
  </span>
</a>
