<nav class="absolute h-16 flex w-full px-24 justify-between">
  <div class="flex space-x-6 items-center">
    <a class="text-sm font-light text-slate-700" href="/">Home</a>
    <a class="text-sm font-light text-slate-700" href="/projects">Projects</a>
  </div>

  <div class="flex space-x-6 items-center">
    <a
      class="text-sm font-light text-slate-700"
      href="https://github.com/josefssonemil"
      target="_blank">Github</a
    >
    <a
      class="text-sm font-light text-slate-700"
      href="https://www.linkedin.com/in/emil-josefsson-23856b15a/"
      target="_blank">LinkedIn</a
    >
  </div>
</nav>
