---
const { title, link, text } = Astro.props;
---

<a
  target="_blank"
  href={link}
  class={`rounded-lg border-[1px] py-3 px-6 bg-white/20 hover:bg-white/40 transition-all cursor-pointer flex-1 umami--click--${title
    .split(' ')
    .join('')}-button`}
>
  <p class="tracking-tight font-bold">
    {title}
  </p>

  <p class="tracking-tight font-light">{text}</p>
</a>
