---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>jsfsn.dev - Fullstack Developer</title>
    <meta name="title" content="jsfsn.dev - Fullstack Developer" />
    <meta
      name="description"
      content="Software Engineer specializing in performant and beautiful web applications."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://jsfsn.dev/" />
    <meta
      property="og:title"
      content="jsfsn.dev - Fullstack Developer"
    />
    <meta
      property="og:description"
      content="Software Engineer specializing in performant and beautiful web applications."
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://jsfsn.dev/" />
    <meta
      property="twitter:title"
      content="jsfsn.dev - Fullstack Developer"
    />
    <meta
      property="twitter:description"
      content="Software Engineer specializing in performant and beautiful web applications."
    />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />

    <script
      async
      defer
      data-website-id="efc0cfee-29ca-4ea9-ad61-cf8f6bccf656"
      src="https://analytics.jsfsn.dev/umami.js"
      data-do-not-track="true"
    ></script>
  </head>
  <body
    style="
  background-image: radial-gradient(at 5% 68%, rgb(255, 237, 213) 0, transparent 87%), radial-gradient(at 27% 86%, rgb(229, 231, 235) 0, transparent 96%), radial-gradient(at 76% 83%, rgb(240, 171, 252) 0, transparent 95%), radial-gradient(at 20% 27%, rgb(191, 219, 254) 0, transparent 94%), radial-gradient(at 18% 55%, rgb(7, 89, 133) 0, transparent 2%), radial-gradient(at 93% 14%, rgb(0, 110, 135) 0, transparent 51%);
"
    class="max-w-screen min-h-screen"
  >
    <main class="pb-16">
      <slot />
    </main>
  </body>
</html>
